* {
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

body {
    overflow-x: hidden;
}


.header_image {
    height: 800px;
    width: 100%;
    background-image: url(Images/pizza.jpg);
    background-size: cover;
}

.top_heading {
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}


.top_heading a{
    text-decoration: none;
    position: relative;
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
}



.top_heading a::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: white;
        left:0px;
        bottom: -6%;
        transform: scaleX(0);
        transition: transform 0.5s;
    }
    
.top_heading a:hover::after {
    transform: scaleX(1);
}
 


.fa-solid {
    font-size: 50px;
    color: white;
    margin-right: 500px;
}

.texts {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    align-content: center;
    margin-top: 50px;
}

#text {
    width: 400px;
    padding: 0px 0px 0px 500px;
    font-size: 50px;
}

#text2 {
    width: 400px;
    padding-left: 500px;
    font-size: 18px;
    margin-top: 30px;
}

#button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  
}

#button1 {
    height: 50px;
    width: 250px;
    font-size: 25px;
    margin-right: 400px;
    border: 2px solid transparent;
    border-radius: 100px;
    color: white;
    font-weight: bolder;
    background-color: #FF0D00;
}

#button1:active {
    color: #F6511D;
    background-color: white;
}



/* Main Section 1 */

.main_page {
    height: 600px;
    width: 100vw;
    background-color: #FF482C;
}

.pizza_page {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texts1 {
    width: 500px;
}
#pizza {
    height: 350px;
    width: 350px;
    background-image: url("Images/pizz.jpg");
    background-size: cover;
    border: 2px solid transparent;
    border-radius: 50%;
    margin-right: 100px; 
    transition: transform 1s ease-in;
}

#pizza:hover {
    transform : rotate(360deg)
}

#pizza_text {
    color: white;
    font-size: 50px;
    font-weight: bolder;
    position: relative;
}

#pizza_text::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background: white;
    left: 0px;
    bottom: -6%;
    transform: scaleX(0);
    transition: transform 0.5s;
}


#pizza_text:hover::after {
    transform: scaleX(1);
}

#pizza_text1_1{
    width: 300px;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    transition: transform 1s ease-in;
}

#pizza_text1_1:hover {
    transform: scale(1.3);
}

#button2 {
    color:  #FF0D00;
    background-color : white ;
    height: 50px;
    width: 250px;
    font-size: 25px;
    margin-right: 480px;
    border: 2px solid transparent;
    border-radius: 100px;
    font-weight: bolder;
}

#button2:active {
    background-color: #FF0D00;
    color: white
}



/* Main section 2 */

.main_page2 {
    height: 600px;
    width: 100vw;
    background-color: #F8EBBB;
}

.pizza_page2 {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

#pizza2 {
    height: 350px;
    width: 350px;
    background-image: url("Images/pizz4.jpg");
    background-size: cover;
    border: 2px solid transparent;
    border-radius: 50%;
    margin-right: 100px; 
    transition: transform 1s ease-in;
}

#pizza2:hover {
    transform: rotate(360deg);
}

.texts2 {
    width: 500px;
}

#pizza_text2 {
    color: orangered;
    font-size: 50px;
    font-weight: bolder;
    position: relative;
}

#pizza_text2::after {
    content: "";
    position: absolute;
    width: 55%;
    height: 3px;
    background: orangered;
    left: 0px;
    bottom: -6%;
    transform: scaleX(0);
    transition: transform 0.5s;
}

#pizza_text2:hover::after {
    transform: scaleX(1);
}

#pizza_text2_1{
    width: 300px;
    font-size: 20px;
    font-weight: lighter;
    color: orangered;
    transition: transform 1s ease-in;
}

#pizza_text2_1:hover{
    transform: scale(1.3);
}

#button3 {
    color:  white;
    background-color : #FF482C;
    height: 50px;
    width: 250px;
    font-size: 25px;
    margin-right: 480px;
    border: 2px solid transparent;
    border-radius: 100px;
    font-weight: bolder;
}

#button3:active {
    background-color: white;
    color: #FF482C
}



/* Main Section 3 */

.main_page3 {
    height: 600px;
    width: 100%;
    background-color: #FF482C;
}

.lines {
    height: 200px;
    width: 700px;
    margin-left: 300px;
    padding-top: 30px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#statistics {
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    transition: transform 1s ease-in;
}

#statistics:hover {
    transform: scale(1.3);
}

#text3 {
    color: white;
    font-size: 18px;
    text-align: center;
    transition: transform 1s ease-in;
}

#text3:hover {
    transform: scale(1.3);
}

.boxes {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
 
}

#box1 {
    height: 200px;
    width:200px;
    border: 3px solid white;
    border-radius: 50%;
    transition: transform 0.5s ease-in;
}

#box1:hover{
    transform: scale(1.2) rotate(360deg);;
}

#customer_num {
    font-size: 4rem;
    color: white;
    padding-top: 40px;
}

#customer {
    font-size: 25px;
    color: white;
}

#box2 {
    height: 200px;
    width:200px;
    border: 3px solid white;
    border-radius: 50%;
    transition: transform 0.5s ease-in;
}

#box2:hover{
    transform: scale(1.2) rotate(360deg);;
}

#outlets_num {
    font-size: 4rem;
    color: white;
    padding-top: 40px;
}

#outlets {
    font-size: 25px;
    color: white;
}


#box3 {
    height: 200px;
    width: 200px;
    border: 3px solid white;
    border-radius: 50%;
    transition: transform 0.5s ease-in;
}

#box3:hover{
    transform: scale(1.2) rotate(360deg);
}

#country_num {
    font-size: 4rem;
    color: white;
    padding-top: 40px;
}

#country {
    font-size: 25px;
    color: white;
}



/* Main Section4 */

.main_page4 {
    height: 600px;
    width: 100vw;
    background-color: #F8EBBB;
}

#package {
    color: orangered;
    font-size: 3rem;
    padding-top: 50px;
    width: 100%;
    text-align: center;
}

.boxes2 {
    height: 400px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#box4 {
    height: 350px;
    width: 250px;
    border: 2px solid transparent;
    color: orangered;
    background-color: white;
    transition: transform 0.5s ease-in;
}

#box4:hover{
    transform: scale(1.1);
}

#s_pizza {
    font-size: 23px;
    padding-top: 15px;
    font-weight: bolder;
}

#box5 {
    height: 350px;
    width: 250px;
    border: 2px solid transparent;
    color: orangered;
    background-color: white;
    transition: transform 0.5s ease-in;
}

#box5:hover{
    transform: scale(1.1);
}


#m_pizza {
    font-size: 23px;
    padding-top: 15px;
    font-weight: bolder;
}



#box6 {
    height: 350px;
    width: 250px;
    border: 2px solid transparent;
    color: orangered;
    background-color: white;
    transition: transform 0.5s ease-in;
}

#box6:hover{
    transform: scale(1.1);
}

#l_pizza {
    font-size: 23px;
    padding-top: 15px;
    font-weight: bolder;
}

.fa-pizza-slice {
    color: orangered;
    padding: 40px 0px 0px 100px;
}

.price {
    color: orangered;
    padding-top: 30px;
    font-size: 25px;
    font-weight: bolder;
}

.pizz_text {
    font-size: 17px;
    padding-top: 20px;
}

.sml_button {
    color:  white;
    background-color : #FF482C;
    height: 40px;
    width: 200px;
    font-size: 25px;
    border: 2px solid transparent;
    border-radius: 100px;
    font-weight: bolder;
    margin-top: 20px;
}

.sml_button:active {
    background-color: white;
    color: #FF482C
}


/* Main Section 5 */

.main_page5 {
    height: 500px;
    width: 100%;
    background-color: #FF482C;
    
}

.Quotes {
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}
#quotes {
    color: white;
    font-weight: bold;
    height: 100px;
    width: 50%;
    font-size: 1.5rem;
    padding-top: 150px;
}

#name {
    color: white;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}


/* Main Page 6 */

.main_page6{
    height: 600px;
    width: 100vw;
    background-color: #F8EBBB;
}

.updates_section {
    height:200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#updates {
    font-size: 50px;
    text-align: center;
    color: orangered;
    font-weight: normal;
    padding-top: 100px;
}

.update_text{
    height: 200px;
    width: 50%;
    display: flex;
    justify-content: center;
    padding-left: 320px;
    text-align: center;
}

#up_text{
    color: orangered;
    font-size: 1.3rem;
}

.email_section {
    width: 100%;
    display: flex;
    justify-content: center;
}

#get_email {
    height: 50px;
    width: 500px;
    border: 2px solid transparent;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    font-size: 18px;
}

#subscribe_button {
    height: 54px;
    width: 15%;
    background-color: orangered;
    border: 2px solid transparent;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px; 
    font-size: 1.4rem;
    color: white;
}

#subscribe_button:active {
    color: orangered;
    background: whitesmoke;
}

/* last section */

.last_page {
    height: 500px;
    width: 100%;
    background-color: #1D1919;
}

.foot_panel {
    color: white;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    font-weight: bolder;
    align-items: center;
}

li {
    font-size: 1rem;
    font-weight: normal;
    list-style-type: none;
    padding-top: 10px;
}

 a {
     text-decoration: none;
     color: white;
 }


.title {
    height: 250px;
    width: 31%;
}

.title_text {
    font-size: 1rem;
}

.about {
    height: 250px;
}

.services {
    height: 250px;
}
.other {
    height: 250px;
}

.thanku {
    height: 50px;
    width: 100%;
    background-color: #1D1919;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}


/* End */
